:root {
    --color-primario: #8377d1;
    --color-secundario: #f7dba7;
    --negro: #2c363f;
    --blanco: #fafafa
}

* {
    background-color: var(--blanco);
    color: var(--negro);
    margin: 0;
    padding: 0;
}

header * {
    background-color: var(--color-primario);
    color: var(--blanco);
    font-size: 1.5em;
    padding: 1rem;
    border-radius: 1rem;
}

.contenedor {
    max-width: 900px;
    padding:.75rem;
}

table.paper {
    width: 100%
}

footer *{
    background-color: var(--color-primario);
    color: var(--blanco);
    font-size: .75rem;
    padding: .75rem;
    border-radius: 1rem;
}

.campo-formulario label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;

}

.campo-formulario .label {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    margin-top: .5rem;
}

.campo-formulario input:not([type="radio"]) {
    width: 100%;
}

.error {
    background-color: #ffaaaa;
    color: darkred;
    font-size: 1rem;
    font-weight: bold;
}